*{
    font-size:13px;
    font-family: 'Noto Sans', sans-serif;
}
.forgot_img{
    max-width: 200px;
}
.forgot_pswd_box{
    border-radius: 10px;
    box-shadow: 10px 5px 10px 10px #F7F9FB;
    background: #feffff;
    max-width: 300px;
    padding: 45px;
}
.forgot_heading{
    text-align: center;
    color:#2F2FA2
}
.error{
    max-width:300px;
}

.forgot_button{
    background-color: #673ab7;
    color:white;
    border:0px;
    border-radius:5px;
    padding:10px;
}
button:hover{
    background-color:#5514c7;
}
