<div class="container">
    <div class="row">

        <!-- forgot pasword image -->
        <div class="col-12 d-flex justify-content-center">
          <img src="/assets/forgot.svg" class="forgot_img mt-5">
        </div>
    
        <!-- error msg -->
        <div class="alert alert-danger error mx-auto p-2 mt-2" *ngIf="error">
          <p class="d-flex justify-content-center">{{ error }}</p>
        </div>


        <div class="d-flex justify-content-center pt-2">
        
            <div class="forgot_pswd_box">
              <div class="forgot_heading">
                <h1 style='font-size:20px' class="pb-3">Forgot Password</h1>

                <!-- forgot password form -->
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                      <mat-form-field appearance="fill">
                          <mat-label>Enter your email</mat-label>
                          <input matInput placeholder="enter email" formControlName="email">
                      </mat-form-field>

                      <!-- email validation -->
                      <div *ngIf="forgotPasswordForm.get('email')?.errors && isSubmit">

                            <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
                              <span style="color: red;">Please Enter Email.</span>
                            </div>
                            <div *ngIf="forgotPasswordForm.get('email')?.hasError('minlength')">
                              <span style="color: red;">Email requied atleast 6 characters.</span>
                            </div>
                            <div *ngIf="forgotPasswordForm.get('email')?.hasError('maxlength')">
                              <span style="color: red;">Email requied only 30 characters.</span>
                            </div>
                            <div *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')">
                              <span style="color: red;">Invalid email</span>
                            </div>

                      </div>
                      <br/>
                      <button class="forgot_button" type="submit">Submit</button><br>
                </form>
              </div>
            </div>

        </div>
    </div>
</div>

