*{
    font-family: 'Noto Sans', sans-serif;
    font-size:15px;
    color:#2F2FA2;
    
}

.login_button{
    background-color: #673ab7;
    color:white;
    border:0px;
    border-radius:5px;
    padding:10px;

}
button:hover{
    background-color:#5514c7;
}